body{
    background-color: orange;
}

#user_score{
    font-size: 25;
    float: left;
    margin-left: 15px;
}

#time-limit{
    font-size: 25px;
    float: right;
    margin-right: 15px;
}

#challange{
    color: navy;
}

p{
    font-size: 20px;
}
